@font-face {
    font-family: Inter;
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Karla;
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);

}


/* Color palette
    dark blue: #1F2937
    lighter blue: #273549
    green: #4ADF86
    white
    grey: #D5D4D8
    
*/


body{
    background-color: #1F2937;
    min-height: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; /*backup font incase something fails, unsure if this is the best way to do this */
}

button{
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;

    cursor: pointer;
}

.hero-container
{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap; /*allows password boxes to stack, wasnt able to get the whole thing scaleable though. waiting until responsive design module to learn it properly(dont want bad habbits) */

    width: auto;
    margin-left: 52px;

    color:white;

    font-family: Inter; /*keeps font consistent incase new things are added */
    font-style: normal;
}

.hero-container button
{
    margin: 0;
    padding: 9px 16px;
    
    border: none;
    border-radius: 6px;

}

.generate-container
{
    margin: 0;
    padding: 0;
}

.title
{
    margin: 0;
    padding: 0;

    font-family: Karla;
    font-weight: 800;
    font-size: 40px;
}

#title-white
{
    margin-top: 115px;
}

#title-green
{
    color: #4ADF86;
}

.description
{
    margin: 10px 0 51px 0;

    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8;
}

.generate-container button
{
    width: 191px;
    height: 42px;
}

#generate-el
{
    margin-bottom: 35px;

    background-color: #4ADF86;
    color: white;
}

.passwords-container
{
    height: 84px;
    margin: 0;
    padding: 35px 0 0 0;

    border-top: 1px solid #2F3E53;
}
.passwords-container button
{
    margin: 0 0 10px 0;
    width: 211px;
    height: 39px;

    background-color: #273549;
    color: #4ADF86;
}

#password-one
{
    margin-right: 24px;
}